.search {
    display: flex;
    justify-content: center;
}

.search .logo-container {
    display: flex;
    justify-content: center;
    padding: 30px 10px 30px 10px;
}

.search .logo-container img {
	max-width: 30%;
	height:auto;
}

.search .input-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
}

.search .input-container input {
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    border: none;
}

.search .input-container input:focus{
    outline:none;
}

.search .input-container button {
    margin-left: 20px;
    background: none;
    border: none;
}

.search .input-container button img {
    width: 30px;
}

@media (max-width: 1200px) {
    .search .logo-container img {
        max-width: 50%;
    }
}

@media (max-width: 800px) {
    .search .input-container {
        width: 80%;
    }
}
